doctype html
html(lang="en")
    head
        title= "Real time web chat"
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    body
        .controls
            input(type='text')#name
            input#okay(type='button', value='okay')


